@import "./node_modules/normalize.css/normalize";
@import "./node_modules/tachyons/css/tachyons";

// Border Overrides
.btn {
  border-top-width: 0;
}

.brn {
  border-right-width: 0;
}

.bbn {
  border-bottom-width: 0;
}

.bln {
  border-left-width: 0;
}

// Overrides for printable resume
@media print {
  h1.mt4 {
    margin-top: 0;
  }

  a {
    text-decoration: none;
  }

  .bb {
    border-bottom-width: .125rem;
  }

  .w-50-l {
    width: 50%;
  }

  .pr3-l {
    padding-right: 1rem;
  }

  .pl3-l {
    padding-left: 1rem;
  }
}
